Outliers Detedvtion And Removing Using IQR

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('heights.csv')
df

      name  height
0   mohit      5.3
1   sakshi     5.2
2    arun      5.1
3   varun      4.9
4      ani     7.1
5    amit      6.4
6    amita     6.5
7     anil     1.2
8   sudha      6.0
9      ram     5.1
10  kamal      5.6
11  ramesh     8.0
12  lokesh     7.2
13   madhu     5.9

In [3]:
q1 = df.height.quantile(0.25)
q3 = df.height.quantile(0.75)
q1,q3

(5.125, 6.475)

In [5]:
iqr = q3-q1
iqr

1.3499999999999996

In [7]:
lp = q1- 1.5*iqr
lp

3.1000000000000005

In [8]:
up =q3 + 1.5*iqr
up

8.5

In [9]:
lp,up

(3.1000000000000005, 8.5)

In [15]:
df[(df.height<lp)|(df.height>up)]

   name  height
7  anil     1.2

In [16]:
#removing Outliers
df2 =df[(df.height>lp)|(df.height<up)]
df2

   name  height
7  anil     1.2